@page "/plants"
@using Core.Dtos
@using Core.Interface.Services
@using Presentation.Components.Cards

@inject IPlantService Service

<div class=header>
    <div class="header-left">
        <div>Your Plants</div>
    </div>

    <div class="header-right">
        <div>@(AllPlants?.Count ?? 0) plants </div>

        <button type="button">Add Plant</button>
    </div>
</div>

<div>
    @if (AllPlants?.Count == 0)
    {
        <p>Add a plant</p>
    }

    else
    {
        foreach(var plant in AllPlants)
        {
            <PlantCard Plant="plant"></PlantCard>
        }
    }
</div>

@code
{
    public List<PlantReadDto> AllPlants { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        AllPlants = await Service.GetAllPlantsAsync(default);
    }
}