@page "/plants"
@using Core.Dtos
@using Core.Interface.Services
@using Presentation.Components.Cards

@inject IPlantService Service

<div class="plants-header">
    <div class="header-left">
        <div class="plants-title">Your Plants</div>
        <p class="plants-subtitle">Your whole collection of plants is here!</p>
    </div>

    <div class="header-right">
        <div class="plants-count-pill">@(AllPlants?.Count ?? 0) plants </div>

        <button class="plants-add-btn" type="button">+ Add Plant</button>
    </div>
</div>

<div>
    @if (AllPlants?.Count == 0)
    {
        <p>Add a plant</p>
    }

    else
    {
        foreach(var plant in AllPlants)
        {
            <PlantCard Plant="plant"></PlantCard>
        }
    }
</div>

@code
{
    public List<PlantReadDto> AllPlants { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        AllPlants = await Service.GetAllPlantsAsync(default);
    }
}