@using Core.Dtos
@using Core.Enums
@if (Plant is not null)
{
    <div class="mb-2">
        <div class="d-flex justify-content-between">
            <small>Water status</small>
            <small>@StatusText</small>
        </div>

        <div class="progress" style="height: 8px;">
            <div class="progress-bar @BarClass"
                role="progressbar"
                style="@WidthStyle"
                aria-valuenow="@Percentage"
                aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public PlantReadDto Plant { get; set; } = default!;

    private double Percentage => CalculatePercentage();
    private string WidthStyle => $"width: {Percentage:0}%";

    private string StatusText
    {
        get
        {
            switch(Plant.WaterStatus)
            {
                case WaterStatus.NEVER_WATERED:
                    return "Never Watered";
                case WaterStatus.OVERDUE:
                default:
                    return "Overdue";
                case WaterStatus.DUE_SOON:
                    return "Due soon";
                case WaterStatus.WELL_WATERED:
                    return "Well watered";
            }
        }
    }

    private string BarClass
    {
        get
        {
            switch(Plant.WaterStatus)
            {
                case WaterStatus.NEVER_WATERED:
                case WaterStatus.OVERDUE:
                default:
                    return "bg-danger";
                case WaterStatus.DUE_SOON:
                    return "bg-warning";
                case WaterStatus.WELL_WATERED:
                    return "bg-success";
            }
        }
    }

    private double CalculatePercentage()
    {
        if (Plant.LastWatered is null)
        {
            return 100;
        }

        var daysSinceLastWater = (DateTime.Today - Plant.LastWatered.Value.Date).TotalDays;
        var freqDays = Plant.WaterFrequency.GetFrequencyDays();

        var ratio = daysSinceLastWater / freqDays;
        var perc = ratio * 100;

        return perc;
    }
}
