<div class="sidebar-shell">
    <div class="sidebar-inner">
        <div class="sidebar-app">
             <img src="images/logo.png" alt="La Main Verte" class="app-logo" />
        </div>

        <div class="sidebar-user">
            <img src="images/avatar.png" class="user-avatar" />
            <div class="user-info">
                <div class="user-name">Romain</div>
                <div class="user-sub">Sprout Supporter</div>
            </div>
        </div>

        <nav class="sidebar-nav">
            <NavLink class="nav-link" href="dashboard">
                <span>Dashboard</span>
            </NavLink>

            <NavLink class="nav-link" href="plants">
                <span>Plants</span>
            </NavLink>

            <NavLink class="nav-link" href="settings">
                <span>Settings</span>
            </NavLink>
        </nav>

        <button class="sidebar-signout">Sign out</button>
    </div>
</div>